Automated Employee OPI Email Distribution Workflow.json
 {
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "readAsString": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        48,
        48
      ],
      "id": "b366a653-a262-4934-acce-b55bf9f9942d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c8e8be3-4554-40b4-b82c-bb2ae7821ff6",
              "name": "Achievment",
              "value": "={{ ($json['Achievement %'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "3a10d5ce-294f-455b-bb82-a68922c95fc9",
              "name": "Weight",
              "value": "={{ ($json['Weight'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "07b9556d-7b2e-4006-b6c0-444e754b00a6",
              "name": "Achievment1",
              "value": "={{ ($json['Achievement %_1'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "2a5eb67f-f0d5-4cc8-886a-8d08909d8b83",
              "name": " Weight1",
              "value": "={{ ($json['Weight_1'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "2e2d5374-24e1-4d21-8e99-4052d37f7698",
              "name": "Achievment2",
              "value": "={{ ($json['Achievement %_2'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "e30c466f-3d44-4179-9711-cedbad6b5e29",
              "name": "Weight2",
              "value": "={{ ($json['Weight_2'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "fbb740a0-0209-48aa-a6a7-6a76cb43199d",
              "name": "Achievment3",
              "value": "={{ ($json['Achievement %_3'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "890bf6c9-3f1b-4ca4-bc65-6aeb8d6031a8",
              "name": "Weight3",
              "value": "={{ ($json['Weight_3'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "3cdc5f7a-e64a-450e-9ae9-2e208f7f424c",
              "name": "Achievment4",
              "value": "={{ ($json['Achievement %_4'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "769766bf-0db3-4d1d-959a-49931d799e7d",
              "name": "Weight4",
              "value": "={{ ($json[' Weight '] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "b7ae0bff-7ea2-445e-911b-e3016fc94f6c",
              "name": "Achievment5",
              "value": "={{ ($json['Achievement %_5'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "552fee1f-f373-4ff4-9551-5b2c5b0d8d97",
              "name": "Weight5",
              "value": "={{ ($json['Weight_4'] * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "001fc9b6-df2d-4104-a15b-e892a799be2a",
              "name": "Total weight",
              "value": "={{ (($json['Weight'] + $json['Weight_1']+ $json['Weight_2']+ $json['Weight_3']+ $json[' Weight '] + $json['Weight_4']) * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "1ba41217-f832-45e7-9df8-9e45b7f9596a",
              "name": "Total KPI Incentive",
              "value": "={{ $json['KPI Based Incentive Amount']+$json['KPI Based Incentive Amount_1']+$json[' KPI Based Incentive Amount ']+$json[' KPI Based Incentive Amount _1']+$json['KPI Based Incentive Amount_2']+$json[' KPI Based Incentive Amount _2'] }}",
              "type": "string"
            },
            {
              "id": "3a123fec-297f-4229-8334-fc922663087e",
              "name": "Total point",
              "value": "={{ ($json.Point+$json.Point_1+$json.Point_2+$json.Point_3+$json.Point_4+$json.Point_5).toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "9df76738-a18f-4c0b-a75c-964c75e428eb",
              "name": "Point",
              "value": "={{ $json.Point.toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "19c61a10-cf47-48be-9a34-98c915e9226c",
              "name": "Point1",
              "value": "={{ $json.Point_1.toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "1f6a4a15-8a30-4052-9213-d06d4497b234",
              "name": "Point2",
              "value": "={{ $json.Point_2.toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "2110b50c-8c5a-405b-8b88-5a9db5f0c6f9",
              "name": "Point3",
              "value": "={{ $json.Point_3.toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "30315315-9e16-4912-b6d2-4431a8a201d6",
              "name": "Point4",
              "value": "={{ $json.Point_4.toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "90964bd2-9a19-4b35-8c1c-b7cedb66e2c6",
              "name": "Point5",
              "value": "={{ $json.Point_5.toFixed(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        48
      ],
      "id": "c46e1d79-fe56-4e3b-8cf7-f986315c8713",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        48
      ],
      "id": "2d2696be-8ff2-4f6a-95ed-3b6e932331ce",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        640,
        288
      ],
      "id": "0b351fd7-0b6d-4906-8ebd-643f5ce53c61"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64d2a062-0ca8-4f84-a2c9-9281722d6d1d",
              "name": "To",
              "value": "={{ $('Extract from File').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "c91084be-249d-415f-bbd2-43b34a902140",
              "name": "Subject",
              "value": "Outstanding Performance Incentive (OPI) – Jan’25",
              "type": "string"
            },
            {
              "id": "314c0c1f-6ace-4b44-85cf-ba0a192e90fe",
              "name": "Body",
              "value": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; line-height: 1.4;\">   \n<p>Dear {{ $('Extract from File').item.json.Name }},</p> \n\n<p>Here sharing your Jan’25 Outstanding Performance Incentive (OPI) Summary. Have a look and share us your observation (if any).</p> \n\n<p>\n  <strong>Name</strong>: {{ $('Extract from File').item.json.Name }}<br/>     \n  <strong>ID</strong>: {{ $('Extract from File').item.json.EmpID }}<br/>     \n  <strong>Cluster</strong>: {{ $('Extract from File').item.json.Cluster }}<br/>     \n  <strong>Region</strong>: {{ $('Extract from File').item.json.Region }}\n</p> \n\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"6\" style=\"border-collapse: collapse; font-size: 13px; text-align: left; width: 100%;\">\n  <thead style=\"background-color: #f0f0f0;\">\n    <tr>\n      <th>Incentive Bonus KPI</th>\n      <th>Achievement %</th>\n      <th>Weight</th>\n      <th>KPI Based Incentive Amount</th>\n      <th>Point</th>\n      <th>Point Based Incentive Amount</th>\n    </tr>\n  </thead>  \n  <tbody>\n    <tr> \n      <td>{{ $('Extract from File').item.json['Incentive Bonus KPI'] }}</td> \n      <td>{{ $json.Achievment }}</td>\n      <td>{{ $json.Weight }}</td>\n      <td>{{ $('Extract from File').item.json['KPI Based Incentive Amount'] }}</td>\n      <td>{{ $json.Point }}</td>\n      <td rowspan=\"6\" style=\"text-align: center;\">{{ $('Extract from File').item.json['Total Incentive Amount:'] }}</td>\n    </tr>\n    <tr>\n      <td>{{ $('Extract from File').item.json['Incentive Bonus KPI_1'] }}</td>\n      <td>{{ $json.Achievment1 }}</td>\n      <td>{{ $json[' Weight1'] }}</td>\n      <td>{{ $('Extract from File').item.json['KPI Based Incentive Amount_1'] }}</td>\n      <td>{{ $json.Point1 }}</td>\n    </tr>\n    <tr>\n      <td>{{ $('Extract from File').item.json['Incentive Bonus KPI_2'] }}</td>\n      <td>{{ $json.Achievment2 }}</td>\n      <td>{{ $json.Weight2 }}</td>\n      <td>{{ $('Extract from File').item.json[' KPI Based Incentive Amount '] }}</td>\n      <td>{{ $json.Point2 }}</td>\n    </tr>\n    <tr>\n      <td>{{ $('Extract from File').item.json['Incentive Bonus KPI_3'] }}</td>\n      <td>{{ $json.Achievment3 }}</td>\n      <td>{{ $json.Weight3 }}</td>\n      <td>{{ $('Extract from File').item.json[' KPI Based Incentive Amount _1'] }}</td>\n      <td>{{ $json.Point3 }}</td>\n    </tr>\n    <tr>\n      <td>{{ $('Extract from File').item.json['Incentive Bonus KPI_4'] }}</td>\n      <td>{{ $json.Achievment4 }}</td>\n      <td>{{ $json.Weight4 }}</td>\n      <td>{{ $('Extract from File').item.json['KPI Based Incentive Amount_2'] }}</td>\n      <td>{{ $json.Point4 }}</td>\n    </tr>\n    <tr>\n      <td>{{ $('Extract from File').item.json['Incentive Bonus KPI_5'] }}</td>\n      <td>{{ $json.Achievment5 }}</td>\n      <td>{{ $json.Weight5 }}</td>\n      <td>{{ $('Extract from File').item.json[' KPI Based Incentive Amount _2'] }}</td>\n      <td>{{ $json.Point5 }}</td>\n    </tr>\n    <tr>\n      <td><strong>Incentive Amount:</strong></td>\n      <td></td>\n      <td>{{ $json['Total weight'] }}</td>\n      <td>{{ $json['Total KPI Incentive'] }}</td>\n      <td>{{ $json['Total point'] }}</td>\n      <td>{{ $('Extract from File').item.json['Total Incentive Amount:'] }}</td>\n    </tr>\n    <tr>\n      <td><strong>Total Incentive Amount:</strong></td>\n      <td colspan=\"5\" style=\"text-align: center;\">{{ $('Extract from File').item.json['Total Incentive Amount:'] }}</td>\n    </tr>\n  </tbody>\n</table>\n\n<p style=\"margin-top: 10px; font-size: 12px;\">\n  <strong>NB:Please Do Not Disclose the above information to anyone other than your Supervisor, Circle-HR and Distribution Support.</strong> \n</p>\n</div>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -48
      ],
      "id": "e44c245f-479a-4125-a798-79f3a2dde536",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.To }}",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json.Body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        -48
      ],
      "id": "8312fc36-775b-4d76-9473-d2e818f61ae8",
      "name": "Send a message",
      "webhookId": "5f76adbe-502b-4515-8f22-7e4fa8fc239f",
      "credentials": {
        "gmailOAuth2": {
          "id": "F3QP5YytuKYViOz8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        192
      ],
      "id": "08aa6414-f7b5-4ba9-b3e6-1e57a64d3348",
      "name": "Telegram Trigger",
      "webhookId": "e2e2b3df-2f86-428f-a302-37ebe5802207",
      "credentials": {
        "telegramApi": {
          "id": "45exHp6HgBhQtz4a",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91dfae3d-3c5a-4e3f-a1c5-524a4a3001d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5101c221df4108050f2be7ff2c35f00e69c99136d4bef2c5452138bdb406fc49"
  },
  "id": "NAkSO3YmaPcvnMY7",
  "tags": []
}